<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jyc.medical.mapper.MemberMapper">

	<resultMap type="jyc.medical.domain.MemberVO" id="memberMap">
		<id property="id" column="id" />
		<result property="id" column="id" />
		<result property="pw" column="pw" />
		<result property="name" column="name" />
		<result property="birthDate" column="birthdate" />
		<result property="gender" column="gender" />
		<collection property="authList" resultMap="authMap" />
	</resultMap>
	
	<resultMap type="jyc.medical.domain.AuthVO" id="authMap">
		<result property="id" column="id" />
		<result property="auth" column="auth" />
	</resultMap>
	
	<select id="read" resultMap="memberMap">
		SELECT mem.id, pw, name, birthdate, gender, auth
		FROM user_info_tbl mem LEFT OUTER JOIN user_auth_tbl auth on mem.id = auth.id
		WHERE mem.id = #{id}
	</select>
	
	<insert id="joinMember">
		INSERT
		INTO user_info_tbl (id, pw, name, birthdate, gender)
		VALUES (#{id}, #{pw}, #{name}, #{birthDate}, #{gender})
	</insert>
	
	<insert id="joinAuth">
		INSERT
		INTO user_auth_tbl (id, auth)
		VALUES (#{id}, #{auth})
	</insert>
	
	<select id="idCheck" resultType="int">
		SELECT COUNT(*)
		FROM user_info_tbl
		WHERE id = #{memberId}
	</select>
	
	<select id="getUserInfo" resultType="jyc.medical.domain.MemberVO">
		SELECT *
		FROM user_info_tbl
		WHERE id = #{id}
	</select>
	
	<update id="updatePW">
		UPDATE user_info_tbl
		SET pw = #{pw}
		WHERE id = #{id}
	</update>
	
	<delete id="deleteUser" parameterType="map">
		delete from user_info_tbl where id = #{id}
	</delete>

</mapper>